---
author: Alexander Naumann
title: Markdown Slides | Overview
description: Overview of slides by Alexander Naumann
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# Markdown Slides
by Alexander Naumann

<br>

- This your landing page where you can link your presentations
- If your are new to markdown slides, check the [introduction](/markdownslides/getting_started) slides to learn what can it do and how to use it

- Some of my presentations:
  - [Thesis Helper]({{site.baseurl}}/thesis-helper) (Draft): Tips for writing your thesis

<br>
<br>

Also feel free to check out my [github](https://github.com/a-nau/) or [website](https://a-nau.github.io) :)

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
